<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <title>2020全民科学素质网络竞赛</title>
    <style>

    </style>
</head>
<body style="width: 100%;height: 100%; margin: 0px;background-color: rgb(1,94,165)">

<div id="background" style="position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;">
    <img th:src="@{/img/home_back.png}" width="100%" height="100%"/>
</div>

<div style="text-align: center">
    <img id="a" th:onclick="start()" th:src="@{/img/start.png}" style="position: relative;top: calc(55vh);width: 50%">
    <img id="b" th:onclick="rule()" th:src="@{/img/rule.png}" style="position: relative;top: calc(57vh);width: 50%">
    <img id="c" th:onclick="score()" th:src="@{/img/paiming.png}" style="position: relative;top: calc(59vh);width: 50%">
    <img id="d" th:onclick="info()" th:src="@{/img/info.png}" style="position: relative;top: calc(61vh);width: 50%">
    <!--    <img th:onclick="clear()" th:src="@{/img/paiming.png}" style="position: relative;top: 78rem;width: 50%">-->
</div>


<strong th:onclick="tiku()" style="position: absolute;right: 2rem;bottom:2rem;font-size: large;color: black;width: 4rem;height: 4rem;
    border-radius: 1rem;background-color: white;text-align: center;
    line-height: 4rem;">题库</strong>
<link th:href="@{/css/mui.css}" rel="stylesheet"/>
<script th:src="@{/js/jquery-3.1.1.js}"></script>
<script th:src="@{/js/mui.js}"></script>
<script th:src="@{/js/Utils1.js}"></script>
<script>

    $(document).ready(function () {





        if (!checkLogin()) {
            window.location.href = globle_url + "login"
        }
    });

    function checkLogin() {
        var tel = getCookie("tel");
        if (tel == "") {
            return false;
        } else {
            return true;
        }
    }

    function start() {
        var tel = getCookie("tel");
        if (!checkLogin()) {
            window.location.href = globle_url + "login"
        } else {
            window.location.href = globle_url + "question?tel=" + tel
        }
    }

    function score() {
        var tel = getCookie("tel");
        if (!checkLogin()) {
            window.location.href = globle_url + "login"
        } else {
            window.location.href = globle_url + "paiming/" + tel + "/1"
        }
    }

    function rule() {
        if (!checkLogin()) {
            window.location.href = globle_url + "login"
        } else {
            window.location.href = globle_url + "rule"
        }
    }

    function info() {
        var tel = getCookie("tel");
        if (!checkLogin()) {
            window.location.href = globle_url + "login"
        } else {
            window.location.href = globle_url + "info/" + tel
        }

    }

    function tiku() {
        window.location.href = "http://wnd.agri114.cn/公民科学素质知识400问.pdf";
    }

    function clear() {
        clearCookie()
    }

</script>
</body>
</html>