<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>2020全民科学素质网络竞赛</title>
    <style>

    </style>
</head>
<body style="width: 100%;height: 100%; margin: 0px;">

<div id="background" style="position:absolute;z-index:-1;width:100%;height:100%;top:0px;left:0px;">
    <img th:src="@{/img/home_back.png}" width="100%" height="100%"/>
</div>

<div style="text-align: center">
    <img th:onclick="start()" th:src="@{/img/start.png}" style="position: relative;top: 70rem;width: 50%">
    <img th:onclick="rule()" th:src="@{/img/rule.png}" style="position: relative;top: 73rem;width: 50%">
    <img th:onclick="score()" th:src="@{/img/paiming.png}" style="position: relative;top: 75rem;width: 50%">
</div>
<script th:src="@{/js/jquery-3.1.1.js}"></script>
<script th:src="@{/js/Utils.js}"></script>
<script>
    var tel = getCookie("tel");
    $(document).ready(function () {
        if (tel == "") {
            window.location.href = globle_url + "login"
        }
    });

    function start() {
        window.location.href = globle_url + "question?tel=" + tel
    }

    function score() {
        window.location.href = globle_url + "paiming/" + tel
    }

    function rule() {
        window.location.href = globle_url + "rule"
    }

</script>
</body>
</html>