<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动还未开始</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
</head>
<body style="padding: 0;margin: 0">
<div style="padding: 0;margin: 0;text-align:center;background: url(/cg/img/zhongjiang.jpg);background-size: cover;height: 700px">
    <p style="font-size: xx-large;color: #f0ad4e;padding-top: 20rem;margin: 0">活动还未开始</p>
</div>
</body>
</html>