<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta charset="UTF-8">
    <title>成绩排名</title>
    <style>
        .title {
            text-align: center;
            padding: 0;
            top: calc(19vh);
            position: relative;
            margin: 0;
            font-size: 1.4rem;
            color: #ec971f;
        }

        #content {
            text-align: center;
            padding: 0;
            top: calc(21vh);
            position: relative;
            margin: 0;
            font-size: 1.4rem;
            height: calc(60vh);
            overflow: scroll;
        }

        table, table tr th, table tr td {
            border: 1px solid rgb(234, 142, 25);
        }
    </style>
    <link th:href="@{/css/dropload.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.1.1.js}"></script>
    <script th:src="@{/js/dropload.min.js}"></script>
</head>

<body style="padding: 0;margin: 0">
<div style="position: absolute;width: 100%;height: 100%;z-index: -1">
    <img th:src="@{/img/paiming_back.png}" width="100%" height="100%">
</div>

<!---->
<div th:if="${myScore}  ne null">
<p class="title" th:text="'我的排名:'+${myScore.rownum}"></p>
<p class="title" th:text="'最好成绩:答对'+${myScore.score}+'题,用时:'+${myScore.time}+'秒'"></p>
</div>

<div th:if="${myScore}  eq null">
    <p class="title" th:text="您今日还未参与答题"></p>
</div>

<div id="content">

    <!---->

    <table style="margin: 0 auto;border-color:rgb(234,142,25);" border="1" cellspacing="0" cellpadding="0" width="90%">
        <thead>
        <tr>
            <th>名次</th>
            <th>得分</th>
            <th>用时(秒)</th>
            <th>姓名</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${allScore.list}">
            <td th:text="${item.rownum}"></td>
            <td th:text="${item.score}"></td>
            <td th:text="${item.time}"></td>
            <td th:text="${item.name}"></td>
        </tr>

        </tbody>
    </table>

</div>
<script th:src="@{/js/Utils.js}"></script>

</body>
<script th:inline="javascript" type="text/javascript">
    var totalpage = [[${allScore.totalPage}]];
    console.log("totalpage=" + totalpage)
    var pageNum = 1;
    //#content为某个div的id
    var dropload = $('#content').dropload({
        //scrollArea很关键，要不然加载更多不起作用
        // scrollArea: window,
        /*domUp: {
            domClass: 'dropload-up',
            domRefresh: '<div class="dropload-refresh">↓下拉刷新</div>',
            domUpdate: '<div class="dropload-update">↑释放更新</div>',
            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
        },*/
        domDown: {
            domLoad: '<div class="dropload-load"><span class="loading"></span></div>',
            domNoData: '<div class="dropload-noData">没有数据了</div>'
        },
        distance: 50,
        loadDownFn: function (me) {
            pageNum++
            console.log("pageNum=" + pageNum)
            if (pageNum > totalpage) {
                $(".dropload-load").css("display","none")
                $(".dropload-down").html("<div class=\"dropload-noData\">到底了</div>")
                me.lock();
                me.noData();
            } else {
                //上拉加载更多需要调用的函数
                console.log("loadMore")
                getData(pageNum,me);
            }
        }
    });

    function getData(pageNum,me) {
        $.get(globle_url + 'pai/' + pageNum, '', function (data) {
            console.log(data)

            var list = data.data.list
            var result = "";
            for (var i = 0; i < list.length; i++) {
                result += "<tr><td>"+list[i].rownum+"</td><td>"+list[i].score+"</td><td>"+list[i].time+"</td><td>"+list[i].name+"</td></tr>"
            }
            $("tbody").append(result)
            me.resetload();
        });
    }


</script>
</html>